 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-html5-plain colored"></i>
      <p>Experience creating web apps with angular, and mobile with swift and xamarin. Has knowledge in design tools such as the sketch</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-nodejs-plain colored"></i>
      <i class="devicon-apple-original colored"></i>
      <i class="devicon-java-plain colored"></i>
      <p>Started working in Java EE projects, made works with mobile in Apple Developer Academy and now i work with MEAN stack</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>I'm always testing new tools, experience with git, atlassian stack, visual studio, linux and others</p>
    </div>
</div>
