<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "https://github.com/muriloe/Hauora/raw/master/arquivosAuxiliares/ImagensWeb/13%20-%20consulta%20nova.png?raw=true" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hauora </h3>
    <ul>
      <li>Angular, node, mongo, express</li>
    </ul>
    <p>Hauora is a system to assist nutritionists in the steps of anamnesis, consultation and patient follow-up.</p>
    <a class="project-link" href="https://github.com/muriloe/Hauora">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/hauora.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Bitdesk </h3>
    <ul>
      <li>Angular, node, mongo, express</li>
    </ul>
    <p>Bitesk is a crypto coin crawler that checks exchanges to get coin informations </p>
    <a class="project-link" href="https://github.com/muriloe/bitdesk">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/muchmore.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> And much more! </h3>
    <ul>
      <li>Xamarin, swift, react, java ...</li>
    </ul>
    <p>Games, hybrid app's, web app's, spa, and much more! Contact me! To know everything! </p>
    <a class="project-link" href="https://github.com/muriloe">Check it out</a>
  </div>
</div>
